<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css'/>

    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/dgm-footer/dgm-footer.html">

    <title>Contrataciones Abiertas - Entidad compradora</title>
</head>

<body>
<dgm-navbar></dgm-navbar>




<div class="container">
    <br>

    <% if (typeof buyer != 'undefined'){%>

    <div class="panel panel-default">
        <div class="panel-body">
            <p>Nombre: <label><%= buyer.name%></label></p>


            <p>Nombre legal: <label> <%= buyer.identifier_legalname%></label></p>
            <p>
            Sitio web: <label>
            <a href="<%= buyer.identifier_uri %>"><%= buyer.identifier_uri %></a></label>
            </p>
            <p> Dirección: <label><%= buyer.identifier_streetaddress %></label></p>
            <p>Estado:<label> <%= buyer.identifier_region%></label></p>
            <p>Código postal: <label><%= buyer.identifier_postalcode %></label></p>
        </div>



    </div>
    <%}else {%>
    <div class="alert alert-danger" role="alert">
        Contrato no encontrado
    </div>
    <%}%>
</div>

<dgm-footer></dgm-footer>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
</body>
</html>