
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Producto o servicio</th>
        <th>Año</th>
        <th style='width: 180px'>Contrato</th>
        <th>Monto (IVA)</th>
        <th>Descarga</th>
        <th>Explora</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < contracts.length;i++){%>
    <tr>
        <td><%= i+1 %></td>
        <td><%= contracts [i].title %></td>
        <td><%= contracts [i].datesigned %></td>
        <td><%= contracts [i].contractid %></td>
        <td><%= contracts [i].value_amount %> <%= contracts [i].value_currency %></td>
        <td> <a href="" class='btn btn-default'> <i class='fa fa-download'></i></a></td>
        <td> <a href="<%= "/contrataciones-abiertas/contrato/"+contracts[i].contractingprocess_id %>" data-id ="<%= contracts[i].contractingprocess_id %>" class='btn btn-default'> <i class='fa fa-line-chart'></i></a></td>
    </tr>
    <%}%>
    </tbody>
</table>