<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">
    <head>
        <link rel="stylesheet" href="/contratacionesabiertas/static/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="/contratacionesabiertas/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/main.css'/>
        <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/contrato.css'/>

        <link rel="import" href="/contratacionesabiertas/static/bower_components/polymer/polymer.html">
        <link rel="import" href="/contratacionesabiertas/static/dgm-navbar/dgm-navbar.html">
        <link rel="import" href="/contratacionesabiertas/static/dgm-footer/dgm-footer.html">

        <title>Contrataciones Abiertas</title>
    </head>
    <body>
        <dgm-navbar></dgm-navbar>
        <div class="breadcrumb-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="/contratacionesabiertas"><i class="glyphicon glyphicon-home"></i></a></li>
                            <li><a href="/contratacionesabiertas">Estándar de contrataciones abiertas</a></li>
                            <li><a href="/contratacionesabiertas/contratos/">Explora</a></li>
                            <li><a href="/contratacionesabiertas/contrato/21">Contrato</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="contract-sidebar" class="col-md-4">
                    <div class="info">
                        <h3>Proceso de contratación</h3>
                        <p class="title"><%= info.title %></p>
                    </div>
                    <div class="stages">
                        <p><small>ETAPAS</small></p>
                        <ul>
                            <li <%- (current_stage == 'planeacion')?"class='active'":''%> ><img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-planeacion.png"><img class="hover-image" src="/contratacionesabiertas/static/images/ic-planeacion.png"><a href="<%= "/contratacionesabiertas/contrato/"+info.cpid+"/planeacion" %>">Planeación </a></li>
                            <li <%- (current_stage == 'licitacion')?"class='active'":''%>><img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-licitacion.png"><img class="hover-image" src="/contratacionesabiertas/static/images/ic-licitacion.png"><a href="<%= "/contratacionesabiertas/contrato/"+info.cpid+"/licitacion" %>">Licitación</a></li>
                            <li <%- (current_stage == 'adjudicacion')?"class='active'":''%>><img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-adjudicacion.png"><img class="hover-image" src="/contratacionesabiertas/static/images/ic-adjudicacion.png"><a href="<%= "/contratacionesabiertas/contrato/"+info.cpid+"/adjudicacion" %>">Adjudicación</a></li>
                            <li <%- (current_stage == 'contratacion')?"class='active'":''%>><img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-contratacion.png"><img class="hover-image" src="/contratacionesabiertas/static/images/ic-contratacion.png"><a href="<%= "/contratacionesabiertas/contrato/"+info.cpid+"/contratacion" %>">Contratación</a></li>
                            <li <%- (current_stage == 'implementacion')?"class='active'":''%>><img class="normal-image" src="/contratacionesabiertas/static/images/ic-menu-implementacion.png"><img class="hover-image" src="/contratacionesabiertas/static/images/ic-implementacion.png"><a href="<%= "/contratacionesabiertas/contrato/"+info.cpid+"/implementacion" %>">Implementación</a></li>
                        </ul>
                    </div>
                </div>
                <div id="contract-content" class="col-md-8">

                    <% if ( current_stage == 'licitacion') { %>
                    <% include stages/tender %>
                    <%} else if ( current_stage == 'adjudicacion' ) {%>
                    <% include stages/awards %>
                    <%} else if ( current_stage == 'contratacion'){%>
                    <% include stages/contracts %>
                    <%} else if ( current_stage == 'implementacion'){%>
                    <% include stages/implementation %>
                    <%} else {%>
                    <% include stages/planning %>
                    <%}%>

                </div>
            </div>
        </div>
        <dgm-footer></dgm-footer>
        <script src="/contratacionesabiertas/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/contratacionesabiertas/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/contratacionesabiertas/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        <script>
            (function () {
                $( '#contract-sidebar' ).height( $( '#contract-content' ).height() + 40 );
            })();
        </script>
    </body>
</html>
