<% for (var i = 0; i < contracts.length;i++){ %>
<div class="panel panel-default">

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-11">
                <h4><strong><%= contracts [i].title %> </strong></h4>
                <p>Identificador: <strong><%= contracts [i].contractid %></strong></p>
                <p>Fecha de firma: <strong><%= contracts [i].datesigned.toLocaleDateString() %> </strong></p>
                <p>
                    Monto:
                    <strong><%= parseFloat(contracts [i].value_amount).toFixed(2) %> <%= contracts [i].value_currency %> </strong>
                </p>
                <p><strong>Proveedor(es)</strong></p>

                <div class="list-group">

                <%
                for (var j = 0; j < suppliers.length ;j++){
                if (suppliers[j].contractingprocess_id == contracts[i].contractingprocess_id ){
                %>
                    <a href="<%= "/contrataciones-abiertas/proveedor/" +suppliers[j].id%>" class="list-group-item">
                        <h4 class="list-group-item-heading"><%= suppliers[j].identifier_id %></h4>
                        <p class="list-group-item-text"> <%= suppliers[j].identifier_legalname %></p>
                        <p class="list-group-item-text"> <%= suppliers[j].identifier_uri %></p>
                    </a>
                <% }
                } %>
                </div>
            </div>
            <div class="col-sm-1" style="text-align: center">
                <p><a href="" class='btn btn-default'> <i class='fa fa-download'></i></a></p>
                <p><a href="<%= "/contrataciones-abiertas/contrato/" + contracts[i].contractingprocess_id %>"
                      data-id="<%= contracts[i].contractingprocess_id %>" class='btn btn-default'> <i
                                class='fa fa-line-chart'></i></a></p>
            </div>
        </div>
    </div>
</div>

<% } %>