<% for (var i = 0; i < contracts.length;i++){ %>
<div class="contract-item">
    <div class="row">
        <div class="col-sm-12">
            <div class="inner">
                <div class="row">
                    <div class="col-sm-3">
                        <h3>$<%= ( parseFloat(contracts [i].value_amount).toFixed(2) ).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></h3>
                    </div>
                    <div class="col-sm-9">
                        <h4><a href="<%= "/contratacionesabiertas/contrato/" + contracts[i].contractingprocess_id +"/planeacion"%>" ><%= contracts [i].title %></a></h4>
                        <p class="small">ID Procedimiento: <%= contracts[i].contractid %></p>
                    </div>
                </div>
            </div>
            <div class="inner item-footer">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="small">Etapa</p>
                    </div>
                    <div class="col-sm-3">
                        <p class="small">Tipo</p>
                        <p class="legend"><%= contracts[i].procurementmethod %></p>
                    </div>
                    <div class="col-sm-3">
                        <p class="small">Proveedores:</p>
                        <p class="legend"><a href= "<%= "/contratacionesabiertas/contrato/"+ contracts[i].id +"/proveedores" %>" > <%= contracts[i].nsuppliers %> </a></p>
                    </div>
                    <div class="col-sm-3">
                        <p class="small">Fecha de firma:</p>
                        <p class="legend"><%= ( contracts[i].datesigned instanceof Date )? contracts [i].datesigned.toLocaleDateString():'' %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% } %>

<!-- PAGINATION -->
<div class="text-center">
    <ul class="pagination">

        <% if (cmetadata.current_page > 1 ){%>
        <li>
            <a href="#" data-page="<%= (cmetadata.current_page-1) %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <%}%>

        <%
        for (var i=1; i <= cmetadata.page_count; i++){ %>
        <li  class="<%= i == cmetadata.current_page ?'active':'' %>" ><a href="#" data-page="<%=i%>"> <%= i %> </a></li>
        <% } %>

        <% if ( cmetadata.current_page < cmetadata.page_count){%>
        <li>
            <a href="#" data-page="<%= (cmetadata.current_page +1) %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <%}%>

    </ul>
</div>