<% function formatAmount( amount ) {
   return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" lang="es-MX" xml:lang="es-MX">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/contratacionesabiertas/static/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/contratacionesabiertas/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/contratacionesabiertas/static/bower_components/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet">
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/main.css'/>
    <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/style_d3bubble.css'/>
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/jqplot/jquery.jqplot.css"/>
    <link rel="stylesheet" href="/contratacionesabiertas/static/stylesheets/dashboard.css">
    <link rel="import" href="/contratacionesabiertas/static/bower_components/polymer/polymer.html">
    <link rel="import" href="/contratacionesabiertas/static/bower_components/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/contratacionesabiertas/static/bower_components/dgm-footer/dgm-footer.html">

    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/tooltipster/dist/css/tooltipster.bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="/contratacionesabiertas/static/bower_components/tooltipster-follower/dist/css/tooltipster-follower.min.css"/>


    <style>
        .arc text {
            font: 10px sans-serif;
            text-anchor: middle;
        }

        .arc path {
            stroke: #fff;
        }


        .progress {
            margin-bottom: 0;
        }

        .container {
            max-width: 1100px;
        }

        .tooltip {
            position: absolute;
            text-align: center;
            width: 100px;
            height: 50px;
            padding: 8px;
            margin-top: -20px;
            font: 10px Open Sans;/*sans-serif;*/
            background: white; /*#ddd;*/
            pointer-events: none;
        }

        .nav-pills{
            padding-bottom: 25px;
            padding-top: 20px;
        }

        .nav-pills > li {
            padding-bottom: 10px;
        }

        .tooltipster-default{
            border-radius: 3px;
            border: none;
            background: white;
        }


        .tooltipster-default .tooltipster-content {
            font: Open Sans;
            font-size: 12px;
            border: none;
            color: black;
            background: white;
            /*padding: 1em 1em 1em 1em;
            overflow: hidden;*/
        }

        .tooltipster-default .tooltipster-box{
            border: none;
        }


    </style>

    <title><%= title %></title>
</head>
<body>
<dgm-navbar></dgm-navbar>

<div class="bgimg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Contrataciones Abiertas</p>
                <h2>Nuevo Aeropuerto Internacional <span>de la Ciudad de México</span></h2>
            </div>
        </div>
        <div id="datos_duros">
            <div class="row">
                <div class="col-sm-4 widget">
                    <h5>MONTO CONTRATADO EN MXN</h5>
                    <p class="stat">$<%= ( parseInt( metadata.contract_value_amount_total) ).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
                </div>

                <div class="col-sm-4 widget">
                    <h5>PROCEDIMIENTOS DE CONTRATACIÓN</h5>
                    <p class="stat"><%= metadata.cp_count %></p>
                </div>

                <div class="col-sm-4 widget">
                    <h5>PROVEEDORES</h5>
                    <p class="stat"><%= metadata.supplier_count %></p>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="breadcrumb" class="breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="https://datos.gob.mx"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="/contratacionesabiertas" style="text-transform: none">Contrataciones Abiertas</a></li>
                    <li><a href="/contratacionesabiertas/contratos" style="text-transform: none;">Nuevo Aeropuerto Internacional de la Ciudad de México</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container statistics">
<div class="row">
<div class="col-md-12">
    <h1>Procedimiento y destino de la contratación</h1>
    <p style="font-size: large"> Visualiza la distribución de los montos según el procedimiento de contratación<!-- usado por GACM o su destino.--> utilizado</p>
</div>
</div>
<div class="row">
<div class="col-xs-12">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Procedimiento de contratación</a></li>
        <li><a data-toggle="tab" href="#categoria" id="cat" >Destino de la Contratación</a></li>
    </ul>
</div>
</div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="well">


                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div id="chart4" style="text-align: center; color: #fff; font-size: 12pt; height: 400px;"></div>

                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="chart-legend">
                                    <li><span class="circle" style="background-color: #ff6600"></span>Licitación pública</li>
                                    <li><span class="circle" style="background-color: #ffcc00"></span>Convenio de colaboración</li>
                                    <li><span class="circle" style="background-color: #663399"></span>Invitación a tres</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="chart-legend">
                                    <!--<li><span class="circle" style="background-color: #ff6666"></span>Convenio de colaboración</li>-->
                                    <li><span class="circle" style="background-color: gray"></span>Contrataciones ASA</li>
                                    <li><span class="circle" style="background-color: #00cc99"></span>Adjudicación directa</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div id="tablaChartDonut">
                            <div class="data-table table-responsive" style="background: #cdcdcd;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Procedimiento de contratación</th>
                                        <th>Monto sin IVA</th>
                                        <th>Contratos</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr>
                                        <td> <%= metadata.total_procedimiento[0].procurementmethod %>*</td>
                                        <td> <strong>$<%= formatAmount( metadata.total_procedimiento[0].total ) %></strong></td>
                                        <td style="text-align: center"> <%= metadata.total_procedimiento[0].conteo%></td>
                                    </tr>
                                    <tr>
                                        <td> <%= metadata.total_procedimiento[1].procurementmethod %></td>
                                        <td> <strong>$<%= formatAmount( metadata.total_procedimiento[1].total ) %></strong></td>
                                        <td style="text-align: center"> <%= metadata.total_procedimiento[1].conteo%></td>
                                    </tr>
                                    <tr>
                                        <td> <%= metadata.total_procedimiento[2].procurementmethod %>**</td>
                                        <td> <strong>$<%= formatAmount( metadata.total_procedimiento[2].total ) %></strong></td>
                                        <td style="text-align: center"> <%= metadata.total_procedimiento[2].conteo%></td>
                                    </tr>
                                    <tr>
                                        <td> <%= metadata.total_procedimiento[3].procurementmethod %></td>
                                        <td> <strong>$<%= formatAmount( metadata.total_procedimiento[3].total ) %></strong></td>
                                        <td style="text-align: center"> <%= metadata.total_procedimiento[3].conteo%></td>
                                    </tr>
                                    <tr>
                                        <td> <%= metadata.total_procedimiento[4].procurementmethod %></td>
                                        <td> <strong>$<%= formatAmount( metadata.total_procedimiento[4].total ) %></strong></td>
                                        <td style="text-align: center"> <%= metadata.total_procedimiento[4].conteo%></td>
                                    </tr>



                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td><strong>$<%= formatAmount( metadata.contract_value_amount_total )%></strong></td>
                                        <td style="text-align: center;"><%= metadata.cp_count %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6 col-xs-12">
                                <small>Actualización a febrero de 2017. </small><br>
                                <small>* Incluye adhesión a licitaciónes realizadas por otras dependencias de la Administración Pública Federal.
                                    <br>
                                ** Estas contrataciones fueron formalizadas y cedidas a GACM por Aeropuertos y Servicios Auxiliares “ASA”.</small>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>

        <div id="categoria" class="tab-pane fade">

            <div class="well">

                <div class="row">
                    <div class="col-sm-6">
                        <div id="donutchart2" style="text-align: center; color: #fff; font-size: 12pt; height: 400px;"></div>


                        <ul class="chart-legend">
                            <li><span class="circle" style="background-color: #663399"></span>Obra pública</li>
                            <li><span class="circle" style="background-color: #ff6600"></span>Servicios relacionados con la obra</li>
                            <li><span class="circle" style="background-color: #00cc99"></span>Adquisición de bienes y servicios</li>
                        </ul>


                    </div>

                    <div class="col-sm-6">

                            <div class="data-table table-responsive" style="background-color: #cdcdcd">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Categoría de contratación</th>
                                        <th>Monto sin IVA</th>
                                        <th>Contratos</th>
                                    </tr>
                                    </thead>
                                    <tbody>


                                    <% for (var i=0; i < metadata.destinos.length; i++){%>
                                    <tr>
                                        <td><%= metadata.destinos[i].destino %></td>
                                        <td><strong>$<%= formatAmount( metadata.destinos[i].total_amount) %></strong></td>
                                        <td style="text-align: center"><%= metadata.destinos[i].conteo%></td>
                                    </tr>
                                    <%}%>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td><strong>$<%= formatAmount( metadata.contract_value_amount_total )%></strong></td>
                                        <td style="text-align: center"><%= metadata.cp_count %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        <div class="row" >
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <small>Actualización a noviembre de 2016</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div id="proveedores">
        <h1>Información general de contratos y proveedores</h1>
        <p style="font-size: large; padding-bottom: 20px">Explora contratos y proveedores de acuerdo con su razón social, procedimiento de contratación o vigencia del contrato.</p>
        <!--<p class="small">Conjunto de datos: Emisiones 2016</p>-->
        <div class="well">
            <nav class="navbar navbar-default" role="navigation">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul id="visualizador" class="nav navbar-nav">
                        <div id="search_form" class="navbar-form navbar-left">
                            <div class="input-group">

                                <input type="text" id="buscar_bubble" value="" class="form-control" placeholder="Buscar proveedores" aria-describedby="basic-addon1">
                                <span class="input-group-addon" id="basic-addon1">
                                    <i class="glyphicon glyphicon-search"></i>
                                </span>
                            </div>
                            <!--<input type="text" class="form-control" id="buscar_bubble" value="" placeholder="Buscar proveedores"/>-->
                        </div>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Filtrar <span class="caret"></span></strong></a>
                            <ul id="filtros" class="dropdown-menu scrollable-menu">
                                <li class="dropdown-header"><p id="clear_filters" class="clear" style="color:#00cc99; cursor:pointer"><strong>Mostrar/Quitar todos</strong></p></li>
                                <li class="divider"></li>
                                <div id="filter-list"></div>
                            </ul>
                        </li>
                        <div class="form-group navbar-form navbar-left">
                            <select id='group-everything-by' class="form-control">
                                <option value=''>Agrupar</option>
                            </select>
                        </div>
                        <div class="form-group navbar-form navbar-left">
                            <select id='color-everything-by' class="form-control">
                                <option value=''>Colorear</option>
                            </select>
                        </div>

                    </ul>
                </div>
            </nav>
            <div class="row">
                <div class="col-sm-12">
                    <!-- d3 bubble chart-->
                    <div id="vis" class="svg-container"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id='color-hints'></div>
                </div>
            </div>
        </div>
    </div>


    <h1>Avances en los contratos en ejecución <!--para la construcción del NAICM--></h1>
    <!--<p style="font-size: large">Visualiza el avance en la ejecución de los recursos totales planeados para la construcción del NAICM</p>-->
    <!--<p class="small">Conjunto de datos: Emisiones 2016</p>-->
    <p style="font-size: large"> Visualiza el progreso físico y financiero, programado y real para las diferentes obras y servicios.</p>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#tab1">Avance físico</a></li>
        <li><a data-toggle="tab" href="#tab2">Avance financiero</a></li>
    </ul>
    <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">

            <div class="well">
                <label>Estudios</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 94.8%"  title="Avance programado: <br><b>94.8%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%;">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 92.8%" title="Avance real: <br><b>92.8%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <label>Obras</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 72.0%" title="Avance programado: <br><b>72.0%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 62.8%" title="Avance real: <br><b>62.8%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <label>Proyectos ejecutivos</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 87.2%" title="Avance programado: <br><b>87.2%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 87.2%" title="Avance real: <br><b>87.2%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <label>Servicios varios</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 72.6%" title="Avance programado: <br><b>72.6%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 56.5%" title="Avance real: <br><b>56.5%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        <!--$ 1,494,222 MXN-->
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <small> Datos provenientes de los <a href="#" >informes trimestrales</a>  de avance físico financiero reportados por el Grupo Aeroportuario de la Ciudad de México a la Secretaría de la Función Pública </small>
            </div>
        </div>

        <div id="tab2" class="tab-pane fade">
            <div class="well">
                <label>Estudios</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 93.2%" title="Avance programado: <br><b>93.2%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 89.4%" title="Avance real: <br><b>89.4%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <label>Obras</label>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 61.8%" title="Avance programado: <br><b>61.8%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        <!--$ 1,494,222 MXN-->
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 52.9%" title="Avance real: <br><b>52.9%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        <!--$ 1,494,222 MXN-->
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <label>Proyectos ejecutivos</label>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 86.6%" title="Avance programado: <br><b>92.8%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 86.6%" title="Avance real: <br><b>86.6%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <label>Servicios varios</label>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 69.9%" title="Avance programado: <br><b>69.9%</b>">
                        <span>Programado</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        $ 1,494,222 MXN
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" style="width: 47.1%" title="Avance real: <br><b>47.1%</b>">
                        <span>Real</span>
                    </div>
                    <div class="progress-bar" style="width: 40%">
                        <!--$ 1,494,222 MXN-->
                    </div>
                </div>
                <ul class="progress-steps">
                    <li>0%</li>
                    <li>20%</li>
                    <li>40%</li>
                    <li>60%</li>
                    <li>80%<span class="text-right">100%</span></li>
                </ul>
                <small> (Datos provenientes de los <a href="#" >informes trimestrales</a> de avance físico financiero reportados por el Grupo Aeroportuario de la Cd. de México a la Secretaría de la Función Pública) </small>
            </div>
        </div>
    </div>


    <div id="contrataciones_tiempo">
        <h1>Contrataciones en el tiempo</h1>
        <p style="font-size: large; padding-bottom: 20px">Visualiza las contrataciones por procedimiento, vigencia, fecha de firma y monto.</p>
        <!--<p class="small">Conjunto de datos: Emisiones 2016</p>-->
        <div class="well series-chart">
            <div id="series_chart_div" style="height: 400px;"></div>
            <p style="text-align: right">Entre más grande es el círculo, mayor es el monto del contratado</p>
        </div>
    </div>

</div>

<div class="container">
    <h1 id="lista">Lista de contratos</h1>
    <p style="font-size: large">Busca y explora los datos de las diferentes etapas para cada contratación</p>
    <div class="row" id="busqueda_contratos">
        <div class="col-md-12">
            <form class="form-inline search-form" >
                <input type="text" id="keyword" class="form-control" placeholder="Buscar contrataciones abiertas">

                <select id="filter" class="form-control bootstrap-select">
                    <option value="Todo">Mostrar todo </option>
                    <%for ( var i=0; i< metadata.total_procedimiento.length;i++){%>
                    <option value="<%= metadata.total_procedimiento[i].procurementmethod %>"><%= metadata.total_procedimiento[i].procurementmethod %></option>
                    <%}%>
                </select>

                <select id="orderby" class="form-control bootstrap-select">
                    <option value="value_amount">Ordenar por monto</option>
                    <option value="title">Ordenar por nombre</option>
                    <option value="datesigned">Ordenar por fecha</option>
                    <option value="contractid">Ordenar por ID</option>
                </select>
                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Lista de contratos -->
            <div id="ctable"></div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Datos</h1>
            <div class="data-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th width="30%">Institución</th>
                        <th width="30%">Formato</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="naicm">
                        <th>Contrataciones Abiertas</th>
                        <th>NAICM</th>
                        <th>
                            <span class="label" data-format="json">JSON</span>
                            <!-- <span class="label" data-format="xlsx">XLS</span>
                            <span class="label" data-format="pdf">PDF</span>-->
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<dgm-footer></dgm-footer>
<script src="/contratacionesabiertas/static/bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/jquery.jqplot.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.donutRenderer.js"></script>

<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.enhancedLegendRenderer.min.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.categoryAxisRenderer.js"></script>
<!--<script type="text/javascript" src="/bower_components/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>-->
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.pointLabels.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/jqplot/plugins/jqplot.highlighter.js"></script>

<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/bootstrap-select/dist/js/bootstrap-select.js"></script>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script src="/contratacionesabiertas/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script src="/contratacionesabiertas/static/javascripts/dashboard.js"></script>

<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/tooltipster/dist/js/tooltipster.bundle.min.js"></script>
<script type="text/javascript" src="/contratacionesabiertas/static/bower_components/tooltipster-follower/dist/js/tooltipster-follower.min.js"></script>

<!-- Sergio -->
<!-- Archivo que contiene las funciones para la visualizacion de los elementos -->
<script type="text/javascript" src="/contratacionesabiertas/static/javascripts/js/vis.js"></script>
<!-- Archivo que contiene las funciones para los eventos -->
<script type="text/javascript" src="/contratacionesabiertas/static/javascripts/js/custom.js"></script>
<script>

/*
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({
            delay: { "show": 0, "hide": 0 },
            html: true,
            //placement: 'rigth',
            placement: function(t_el, el) {
                return (typeof $(el).data('placement') === 'undefined') ? 'bottom' :  $(el).data('placement');
            },
            trigger: 'hover',
            template: '<div class="tooltip" role="tooltip" style="min-width: 150px; background-color: transparent;">' +
            '<div class="tooltip-inner" style="border-radius: 2px; min-height: 40px; background-color: white; color: black; ' +
            'text-align: left; font-size: 12px; font-family: Open Sans"></div></div>'
        })
    });*/

$('.progress-bar').tooltipster({
    //anchor: 'bottom-left',
    delay : 0,
    contentAsHTML: true,
    minWidth: 150,
    //maxWidth: 300,
    offset: [20, 20],
    plugins: ['follower'],
    theme: ['tooltipster-default']
});


    (function () {
        $( '.bootstrap-select' ).selectpicker();
    })();

    $('#naicm').click(function () {
        window.location.href= "https://datos.gob.mx/busca/dataset/concentrado-de-contratos-y-convenios-del-nuevo-aeropuerto-de-la-ciudad-de-mexico";
    });
</script>
</body>
</html>
