<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/contratacionesabiertas/static/bower_components/font-awesome/css/font-awesome.min.css">
        <!-- Bootstrap core CSS -->
        <link href="/contratacionesabiertas/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/main.css'/>
        <link rel='stylesheet' href='/contratacionesabiertas/static/stylesheets/index.css'/>
        <link rel="import" href="/contratacionesabiertas/static/bower_components/polymer/polymer.html">
        <link rel="import" href="/contratacionesabiertas/static/bower_components/dgm-navbar/dgm-navbar.html">
        <link rel="import" href="/contratacionesabiertas/static/bower_components/dgm-footer/dgm-footer.html">

        <title>Contrataciones Abiertas</title>
    </head>
    <body>
        <dgm-navbar></dgm-navbar>
        <div class="breadcrumb-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="/contratacionesabiertas"><i class="glyphicon glyphicon-home"></i></a></li>
                            <li><a href="/contratacionesabiertas" style="text-transform: none">contratacionesabiertas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bgimg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center" id="icono_con"><img src="/contratacionesabiertas/static/images/icono_con.png" ></p>
                        <h2>Contrataciones Abiertas</h2>
                        <h4>Descubre los datos abiertos, accesibles y oportunos sobre las etapas de planeación, licitación, adjudicación, <br>contratación e implementación de las contrataciones del gobierno</h4>
                    </div>
                </div>
                <div id="datos_duros">
                    <div class="row">
                        <div class="col-sm-3 widget">
                            <h5>CONTRATOS EN PROCESO</h5>
                            <p class="stat"><%= metadata.cp_count %></p>
                        </div>

                        <div class="col-sm-3 widget">
                            <h5>CONTRATOS ADJUDICADOS</h5>
                            <p class="stat"> <%= metadata.contract_count %></p>
                        </div>

                        <div class="col-sm-3 widget">
                            <h5>TOTAL DE PROVEEDORES</h5>
                            <p class="stat"><%= metadata.supplier_count %></p>
                        </div>
                        <div class="col-sm-3 widget">
                            <h5>MONTO TOTAL ADJUDICADO</h5>
                            <p class="stat">$<%= ( parseInt( metadata.contract_value_amount_total) ).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" >
                <div class="col-md-12">
                    <h1>Conoce cómo contrata tu gobierno</h1>
                    <p id="conoce" class="big">Selecciona un proyecto, expora las etapas de cada proceso de contratación y conoce la <a href="">metodología de contrataciones abiertas.</a></p>
                    <div class="data-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Proyecto</th>
                                    <th>Institución</th>
                                    <th>Monto contratado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="/contratacionesabiertas/contratos/">Nuevo Aeropuerto Internacional de la Cd. de México</a></td>
                                    <td>NAICM</td>
                                    <td>$<%= ( parseInt( metadata.contract_value_amount_total) ).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %></td>
                                </tr>
                                <tr>
                                    <td><a href="http://datos.gob.mx/redcompartida/">Red compartida</a></td>
                                    <td>SCT</td>
                                    <td>En proceso</td>
                                </tr>
                                <!--
                                <tr>
                                    <td><a href="#">Ronda 1</a></td>
                                    <td>IMSS</td>
                                    <td>En proceso</td>
                                </tr>
                                -->
                                <tr>
                                    <td><a href="#">Nuevo Puerto de Veracruz</a></td>
                                    <td>Puertos y Marina Mercante</td>
                                    <td>En proceso</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container stages">
            <div class="row">
                <div class="col-md-12">
                    <h1>Etapas del proceso de contratación abierta</h1>

                    <div class="row">
                        <div class="col-sm-4 stages-widget">
                            <img src="/contratacionesabiertas/static/images/ic-planeacion.png" alt="Planeaciñon">
                            <div class="content">
                                <p class="title">1. Planeación</p>
                                <p>Encuentra datos sobre el presupuesto, fundamento y descripción general del proyecto; así como sus documentos, estudios y evaluaciones preparatorios relevantes.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 stages-widget">
                            <img src="/contratacionesabiertas/static/images/ic-licitacion.png" alt="Planeaciñon">
                            <div class="content">
                                <p class="title">2. Licitación</p>
                                <p>Encuentra datos sobre el proceso de adjudicación del proyecto, como tipo de procedimiento, valor, método y criterios de adjudicación y aclaraciones, fechas relevantes y datos del testigo social, participantes, hitos del procedimiento y modificaciones al mismo.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 stages-widget">
                            <img src="/contratacionesabiertas/static/images/ic-adjudicacion.png" alt="Planeaciñon">
                            <div class="content">
                                <p class="title">3. Adjudicación</p>
                                <p>Encuentra datos sobre el proveedor asignado para el proyecto, el proceso de adjudicación, sus documentos, inconformidades y modificaciones.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 stages-widget">
                            <img src="/contratacionesabiertas/static/images/ic-contratacion.png" alt="Planeaciñon">
                            <div class="content">
                                <p class="title">4. Contratación</p>
                                <p>Encuentra datos sobre la firma del contrato donde se establecen las particularidades del bien o servicio, periodos de pago, entrega y sus documentos principales.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 stages-widget">
                            <img src="/contratacionesabiertas/static/images/ic-implementacion.png" alt="Planeaciñon">
                            <div class="content">
                                <p class="title">5. Implementación</p>
                                <p>Encuentra datos sobre la ejecución del proyecto, como las fechas y pagos correspondientes por el bien o servicio, hitos del proyecto y evidencia de la ejecución</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="methodology">
            <div class="container">
                <div class="col-md-12">
                    <button class="btn btn-primary">Conoce la metodología</button>
                </div>
            </div>
        </div>

        <div class="container publications">
            <div class="row">
                <div class="col-md-12">
                    <h1>Publicaciones</h1>
                    <p>Avances de México en contrataciones abiertas<span> | 23 de junio de 2016 | </span><a href="http://www.open-contracting.org/why-open-contracting/worldwide/mexico/" class="read-more">Leer más <i class="fa fa-caret-right"></i></a></p>
                    <p>Columna: Contrataciones Abiertas, la transparencia en acción<span> | 6 de junio de 2016 | </span><a href="http://www.eluniversal.com.mx/entrada-de-opinion/articulo/alejandra-lagunes/nacion/2016/06/6/contrataciones-abiertas-la" class="read-more">Leer más <i class="fa fa-caret-right"></i></a></p>
                    <p>México se convirtió en miembro fundador de la alianza de contrataciones abiertas C5<span> | 22 de mayo 2016 | </span><a href="http://www.noticiasmvs.com/?seccionId=44afde0a54bc734&postsViejos=5#!/noticias/mexico-se-convirtio-en-miembro-fundador-de-la-alianza-de-contrataciones-5-c5-989" class="read-more">Leer más <i class="fa fa-caret-right"></i></a></p>
                    <p>Cumbre Global Anticorrupción - Compromisos de México en materia de contrataciones abiertas<span> | 12 de mayo de 2016 | </span><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/522966/Mexico.pdf" class="read-more">Leer más <i class="fa fa-caret-right"></i></a></p>
                    <p>México se convierte en miembro fundador de la Alianza de Contrataciones 5 (C5)<span> | 12 de mayo 2016 | </span><a href="http://www.gob.mx/presidencia/articulos/mexico-en-la-alianza-de-contrataciones-5-c5?idiom=es" class="read-more">Leer más <i class="fa fa-caret-right"></i></a></p>
                    <p>¿Cómo transformar la información pública en un activo público? La Política de Datos Abiertos en México<span> | 5 de marzo de 2016 | </span><a href="http://www.tm.org.mx/politica-de-datos-abiertos/" class="read-more">Leer más <i class="fa fa-caret-right"></i></a></p>
                </div>
            </div>
        </div>
        <dgm-footer></dgm-footer>
        <script src="/contratacionesabiertas/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/contratacionesabiertas/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/contratacionesabiertas/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    </body>
</html>