<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <style>
        html{
            font: 10px sans-serif;
        }
        .node{
            cursor: pointer;
        }
        .node circle{
            stroke: #00cc99;
            opacity: .8;
            stroke-width: 1.5px;
        }
        .link{
            fill: none;
            stroke: lightgray;
            stroke-width: 5.5px;
            opacity:.4;
        }
        div.tooltip {
            position: absolute;
            text-align: center;
            width: 60px;
            height: 28px;
            padding: 2px;
            font: 12px sans-serif;
            background: #424242;
            color: white;
            border: 0px;
            border-radius: 8px;
            pointer-events: none;
        }

        text {
            font: 11px sans-serif;
            color: #424242 !important;
            pointer-events: none;
            font-weight: bold;
            text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
        }

    </style>


    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/stylesheets/navbar-fixed-top.css' />-->
    <title>Contrataciones Abiertas</title>
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <!-- <link rel='stylesheet' href='/stylesheets/bootstrap-grid-system.css' /> -->
    <!--<link rel='stylesheet' href='/stylesheets/buttons.css'/>-->
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">

</head>


<body>
<dgm-navbar></dgm-navbar>

<section id="banner">
    <div class="container-fluid fixed">
        <p class="text-left"><b>Grupo Aeroportuario de la Ciudad de México</b></p>
    </div>
</section>

<% if (typeof contract != 'undefined'){%>

<section id="highlights">
    <div class="content">
        <div class="overlay" style="background-color:#E0E0E0"></div>
        <div class="container-fluid">
            <div class="row">
                <div class='col-xs-12'><h3 class="jumbo-title" style="color:#424242">Estándar de Contrataciones Abiertas</h3></div>
            </div>
            <div class="row">
                <div class='col-xs-12' id="datosContract">
                    <h1 style="color:#424242">Contrato: <b style="color:#00cc99"> <%= contract.title %></b></h1>
                    <hr style="border-color:#BDBDBD">
                    <p style="color:#424242"> <font size="2">Identificador: <b><%= contract.contractid%></b> </font></p>
                    <p style="color:#424242"> <font size="2">Fecha de firma: <b><%= contract.datesigned%></b> </font></p>
                    <p style="color:#424242"> <font size="2">Monto: <b><%= contract.value_amount%></b></font></p>
                    <p style="color:#424242"> <font size="2">Moneda: <b><%= contract.value_currency%></b></font></p>
                    <p style="color:#424242"> <font size="2">Vigencia: <b>2016-03-07</b></font></p>
                    <p style="color:#424242"> <font size="2">Tipo: <b><%= contract.procurementmethod %></b></font></p>
                    <button type="button" class="btn btn-primary" style="width:150px;height:40px;position:absolute;bottom:10px;right:10px;background-color:#00cc99;align:top;border-radius:25px;outline:none;" id="refresh"><b>Árbol completo</b></button>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="row">
        <div class='col-md-12' id="bolitas" style="background:#e0e0e0">
            <div style="position:absolute;bottom:40px;right:1025px"><p><b>Planeación</b></p></div>
            <div style="position:absolute;bottom:40px;right:820px"><p><b>Licitación</b></p></div>
            <div style="position:absolute;bottom:40px;right:550px"><p><b>Adjudicación</b></p></div>
            <div style="position:absolute;bottom:40px;right:300px"><p><b>Contratación</b></p></div>
            <div style="position:absolute;bottom:40px;right:50px"><p><b>Implementación</b></p></div>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
      <div class='col-md-12' id="add_data" style="display:none;background-color:#e0e0e0">
        <div class='col-md-4' id="etapa_data" style="background-color:#e0e0e0">
          <p>Etapa</p>
          <p id="etapa"></p>
        </div>
        <div class='col-md-4' id="id_etapa_data" style="background-color:#e0e0e0">
          <p>ID</p>
          <p><b>IO-1234233-32</b></p>
        </div>
        <div class='col-md-4' id="avance_etapa_data" style="background-color:#e0e0e0">
          <p>Avance</p>
          <p><b>5%</b></p>
        </div>
        <br>
        <br>
        <hr style="border-color:#BDBDBD">
        <div class='col-md-12' style="background-color:#e0e0e0">
          <p>Etapa</p>
        </div>
        <br>
        <hr style="border-color:#BDBDBD">
        <div class='col-md-12' style="background-color:#e0e0e0">
          <p>Etapa</p>
        </div>
      </div>
    </div>
    <br>
    <div id="arbol"></div>
</div>
<% } else { %>

<div class="container">
    <br>
    <div class="alert alert-danger" role="alert">Registro no encontrado</div>
</div>

<%}%>

<dgm-footer></dgm-footer>
<script src="/javascripts/foldableTree.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<link rel="import" href="/dgm-footer/dgm-footer.html">
</body>
</html>
