<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel='stylesheet' href='/stylesheets/main.css'/>
    <link rel='stylesheet' href='/stylesheets/contrato.css'/>
    <link rel="import" href="/dgm-navbar/dgm-navbar.html">
    <link rel="import" href="/dgm-footer/dgm-footer.html">

    <title>Contrataciones Abiertas</title>


</head>


<body>
<dgm-navbar></dgm-navbar>

<section id="banner">
    <div class="container-fluid fixed">
        <p class="text-left"><b>Grupo Aeroportuario de la Ciudad de México</b></p>
    </div>
</section>

<% if (typeof contract != 'undefined'){%>

<section id="highlights">
    <div class="content">
        <div class="overlay" style="background-color:#E0E0E0"></div>
        <div class="container-fluid">
            <div class="row">
                <div class='col-xs-12'><h3 class="jumbo-title" style="color:#424242">Estándar de Contrataciones Abiertas</h3></div>
            </div>
            <div class="row">
                <div class='col-xs-12' id="datosContract">
                    <h1 style="color:#424242"><b style="color:#00cc99"> <%= contract.title %></b></h1>
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Identificador: <b><%= contract.contractid%></b> </p>
            <p>Fecha de firma: <b><%= contract.datesigned%></b></p>
            <p>Monto: <b><%= parseFloat(contract.value_amount).toFixed(2)%></b></p>
            <p>Moneda: <b><%= contract.value_currency%></b></p>
            <p>Vigencia: <b><%= contract.period_startdate%> - <%= contract.period_enddate %></b></p>
            <p>Tipo: <b><%= contract.procurementmethod %></b></p>
            <p>
                <a  class="btn btn-default" href="<%= "/contrataciones-abiertas/contrato/"+contract.cpid+"/entidad-compradora/" %>"><b>Detalles del comprador</b></a>
                <a  class="btn btn-default" href="<%= "/contrataciones-abiertas/contrato/"+contract.cpid+"/proveedores/" %>"><b>Proveedor (es)</b></a>
                <button class="btn btn-default" > <i class="fa fa-download"></i> </button>
                <button class="btn btn-default" id="refresh"><b>Árbol completo</b></button>
            </p>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12' id="bolitas" style="background:#e0e0e0">
            <div style="position:absolute;bottom:40px;right:1025px"><p><b>Planeación</b></p></div>
            <div style="position:absolute;bottom:40px;right:820px"><p><b>Licitación</b></p></div>
            <div style="position:absolute;bottom:40px;right:550px"><p><b>Adjudicación</b></p></div>
            <div style="position:absolute;bottom:40px;right:300px"><p><b>Contratación</b></p></div>
            <div style="position:absolute;bottom:40px;right:50px"><p><b>Implementación</b></p></div>
            <br>
            <br>
        </div>


        <!-- breadcrumb -->
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ol class="breadcrumb">
                        <li class="active">Planeación</li>
                        <li>Licitación</li>
                        <li>Adjudicación</li>
                        <li>Contratación</li>
                        <li>Implementación</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>

    <br>
    <div class="row">
        <div class='col-md-12' id="add_data" style="display:none;background-color:#e0e0e0">
            <div class='col-md-4' id="etapa_data" style="background-color:#e0e0e0">
                <p>Etapa</p>
                <p id="etapa"></p>
            </div>
            <div class='col-md-4' id="id_etapa_data" style="background-color:#e0e0e0">
                <p>ID</p>
                <p><b>IO-1234233-32</b></p>
            </div>
            <div class='col-md-4' id="avance_etapa_data" style="background-color:#e0e0e0">
                <p>Avance</p>
                <p><b>5%</b></p>
            </div>
            <br>
            <br>
            <hr style="border-color:#BDBDBD">
            <div class='col-md-12' id="etapa_desglo" style="background-color:#e0e0e0">
            </div>
            <br>
            <hr style="border-color:#BDBDBD">
        </div>
    </div>
    <br>
    <div id="arbol"></div>
</div>

<% } else { %>

<div class="container">
    <br>
    <div class="alert alert-danger" role="alert">Registro no encontrado</div>
</div>

<%}%>

<dgm-footer></dgm-footer>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script src="/javascripts/foldableTree.js"></script>
</body>
</html>
