<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Etapa</p>
        <p><strong>Implementación</strong></p>
    </div>
</div>

<div class="row contract-stats">
    <div class="col-md-12">
        <p class="small">Comprador</p>
        <p><a href="#"><%= buyer.identifier_legalname %></a></p>
    </div>
</div>

<div class="row contract-stats no-border">
    <div class="col-md-3 col-md-offset-6">
        <p class="small">Descargar datos abiertos</p>
        <span class="label" data-format="csv">CSV</span>
        <span class="label" data-format="json">JSON</span>
    </div>
    <div class="col-md-3">
        <p class="small">Descargar contrato</p>
        <span class="label" data-format="pdf">PDF</span>
    </div>
</div>
<p class="small">Procesos</p>
<div class="well well-sm">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Hitos
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                    <% if (milestones.length == 0 ){%>
                    <strong>No se han registrado hitos en esta etapa</strong>
                    <%}%>

                    <% for ( var i =0; i < milestones.length;i++){%>
                    <strong><%= milestones[i].title%></strong>

                    <ul>
                        <li>ID: <%= milestones[i].title %></li>
                        <li>Descripción: <%= milestones[i].description %></li>
                        <% if ( milestones[i].duedate instanceof Date ){%>
                        <li>: <%= milestones[i].duedate.toLocaleDateString() %></li>
                        <%}%>
                        <% if ( milestones[i].date_modified instanceof Date){%>
                        <li>: <%= milestones[i].date_modified.toLocaleDateString() %></li>
                        <li>Estátus: <%= milestones[i].status %></li>
                        <%}%>
                    </ul>

                    <%}%>


                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Transacciones
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">

                    <% if (transactions.length == 0 ){%>
                    <strong>No se han registrado transacciones en esta etapa</strong>
                    <%}%>

                    <%for ( var i=0; i< transactions.length;i++){%>
                    <strong> Transacción <%= i %> </strong>

                    <ul>
                        <li>ID: <%= transactions[i].transactionid%></li>
                        <li>Origen: <%= transactions[i].source %></li>
                        <% if (transactions[i].implementation_date instanceof Date){%>
                        <li>Fecha de implementación: <%= transactions[i].implementation_date.toLocaleDateString() %></li>
                        <%}%>
                        <li>Monto: <%= transactions[i].value_amount%></li>
                        <li>Moneda: <%= transactions[i].value_currency%></li>
                    </ul>

                    <%}%>

                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Documentos
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">

                    <% if (documents.length == 0 ){%>
                    <strong>No se han registrado documentos en esta etapa</strong>
                    <%}%>

                    <% for (var i =0; i< documents.length;i++){%>
                    <strong><%= documents[i].title %></strong>
                    <ul>
                        <li>ID: <%= documents[i].documentid%></li>
                        <li>Título: <%= documents[i].title %></li>
                        <li>Descripción: <%= documents[i].description %></li>
                    </ul>
                    <%}%>

                </div>
            </div>
        </div>


    </div>
</div>
<br>  <!--  !!!! -->
<br>
<br>
<br>